* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
}
body {
  background-color: rgba(222, 221, 220, 0.8);
}
.container,
.card,
.front,
.back,
.front > .content {
  display: flex;
}
p,
.header_1,
.button {
  font-weight: 400;
}
.card,
.front > img,
.button {
  position: relative;
}
.header_1,
.header,
.front,
.back {
  position: absolute;
}
p,
.header_1,
.button {
  font-size: 16px;
}
p,
h1,
.header_1,
.button {
  font-family: "Times New Roman";
}
.border,
h1 {
  text-align: center;
}
/* Container style */
.container {
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  margin: 45px 0 0 0;
}
p {
  margin: 5px;
}
/* Styling text for inside the card element  */
.border {
  width: 200px;
  color: #715f5fed;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/* Styling for the container header tag */
h1 {
  margin: 45px 0 0 0;
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Card styling */
.card {
  height: 450px;
  width: 300px;
  flex-direction: row;
  margin: 10px 15px 15px 15px;
  box-shadow: 10px 10px 5px #cec7c7;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
/* Styling the card header component */
.header_1 {
  color: #ffff;
  padding: 10px 15px 6px 20px;
  top: 154px;
  right: 9px;
  height: 20px;
}
.header {
  color: #ffff;
  padding: 4px 7px 5px 16px;
  top: 124px;
  right: 10px;
  height: 21px;
}
/* Heading colors */
#head1 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 185, 0),
    rgba(255, 119, 48)
  );
}
#head2 {
  background: linear-gradient(
    to right bottom,
    rgba(41, 152, 255),
    rgba(85, 67, 250)
  );
}
#head3 {
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111),
    rgba(40, 180, 133)
  );
}
/* Front & back styling */
.front,
.back {
  height: 100%;
  width: 100%;
}
.front {
  background-color: #ffff;
  z-index: 1;
  backface-visibility: hidden;
  flex-direction: column;
}
.back {
  background-color: rgb(255, 255, 255);
  z-index: -1;
  transform: rotateY(180deg);
}
.card:hover {
  transform: rotateY(180deg);
}
.front > img {
  width: 100%;
  height: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
}
.front > .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Card back-ground color */
.btn1 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 185, 0),
    rgba(255, 119, 48)
  );
}
.btn2 {
  background: linear-gradient(
    to right bottom,
    rgba(41, 152, 255),
    rgba(85, 67, 250)
  );
}
.btn3 {
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111),
    rgba(40, 180, 133)
  );
}
/* Button funtionality  */
.button {
  height: 50px;
  width: 140px;
  margin: auto;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s linear;
  background: #fff;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
}
.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.4s;
}
.button:hover::after {
  background: #fff;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated {
  animation: moveInBottom 0.3s ease-out;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
